---
layout: basic.njk
title: About
heading: About
subheading: Learn more about our history and mission.
wrap: true
---
<div class="text-xl max-w-xl flex flex-col gap-3 text-center items-center justify-center self-center font-thin">
  <p>
    I founded <span class="font-semibold">{{ org.name }}</span> on November 4th, 2025, the ten-year anniversary of surviving a brain aneurysm rupture and subsequent hemorrhagic stroke in her right frontal lobe.
  </p>
  <p>After two brain surgeries (one to clip the aneurysm and one to place a VP shunt) and 23 days in the ICU,
    I returned home to begin my recovery journey.
  </p>
  <p>
    Over the years I've learned to navigate life with the challenges of a brain injury. I've felt lost, alone, and exhausted, but I am truly blessed
    to have immense support from family and friends.
  </p>
</div>
