---
layout: basic.njk
title: Join
heading: Join Our Community
subheading: Become a member today and start your journey towards healing and connection.
---
<div class="flex justify-center bg-stone-800">
  <div id="iframe-wrapper-1">
    <div class="w-sm md:w-md lg:w-lg" id="iframe-wrapper-2">
      <div id="join-loading-spinner-wrapper" class="absolute inset-0 p-6 flex flex-col items-center justify-start z-10">
        <div class="flex flex-col items-center gap-4">
          <div class="w-12 h-12 border-4 border-stone-500 border-t-transparent rounded-full animate-spin"></div>
          <p class="text-stone-200 text-lg">Loading form...</p>
        </div>
      </div>

      <iframe
        id="join-iframe"
        src="https://docs.google.com/forms/d/e/1FAIpQLSe0IKDCec_onaOnkJFCymIv9kZwm8XB1wDVrhp1UvBrgwBWQg/viewform?embedded=true"
        onLoad="handleJoinIframeLoad()"
      ></iframe>
    </div>
  </div>
</div>
