---
layout: basic.njk
title: About
heading: About
subheading: Learn more about our history and mission.
wrap: true
---
<div class="text-xl max-w-xl flex flex-col gap-3 text-center items-center justify-center self-center font-thin">
  <p>
    <span class="font-semibold">{{ org.name }}</span> was founded by Jess Fausak in 2025.
  </p>
  <p>
    In December of 2015, Jess experienced a life-altering event when she suffered
    a brain injury due to a ruptured aneurysm.
  </p>
  <p>
    She underwent emergency brain surgery in Austin, TX to place a clip on the aneurysm. After
    a month long stay in the ICU she returned home to begin the long road of recovery.
  </p>
  <p>
    Over the years she has learned to navigate life with the challenges of a brain injury.
    Now she is passionate about helping others who are on similar journeys.
  </p>
</div>
